<header class="mainHeader">
    <div class="container">
        <img src="a" alt="">
        <a>LOGO AQUI</a>
        <nav class="header ff-poppins">
            <a class="navLink">Usuários</a>
            <a class="navLink">Clientes</a>
            <a class="navLink">Serviços</a>
            <a class="navLink">Relatórios</a>
            <div class="logedUser ff-montserrat">
                USUÁRIO LOGADO
            </div>
            <a class="navLink logout">Sair</a>
        </nav>
    </div>
</header>