<header class="mainHeader">
    <div class="container">
        <a [routerLink]="['schedule']">
            <img class="smallLogo" src="../../../assets/logo/tchutchucao-LOGO_bg_laranja_pequeno.jpg" alt="Logo pet center tchutchucão pequeno">
        </a>
        <nav class="header ff-poppins">
            <a class="navLink" [routerLink]="['users/users']">Usuários</a>
            <a class="navLink" [routerLink]="['clients/clients']">Clientes</a>
            <a class="navLink" [routerLink]="['tasks/tasks']">Serviços</a>
            <a class="navLink" [routerLink]="['reports/reports']">Relatórios</a>
            <div class="logedUser ff-montserrat">
                USUÁRIO LOGADO
            </div>
            <a class="navLink logout" [routerLink]="['']">Sair</a>
        </nav>
    </div>
</header>