.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 600px;
    height: 650px;
    padding: .5rem;
    background: var(--bg-claro);
    border: 1px solid var(--bg-mais-escuro);

    margin: auto;
    margin-top: 2%;
}

.logo, img{
    width: 580px;
    height: 350px;
}