.login{
    background: var(--bg-claro);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 1.2rem;
    font-weight: 0,200;
}

input{
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 250px;
}

.botao{
    color: var(--bg-escuro);
    background: var(--bg-forte);
    max-width: 200px;
    width: 170px;
    padding: 0.5rem;
    margin: 10px auto;
    border: 2px solid var(--bg-mais-escuro);
    border-radius: 30px;
    transition: 0.5 ease;
}
.botao:hover{
    background: var(--bg-medio);
}