<section class="login container">
    <!-- <h2 class="titulo ff-montserrat">Entrar</h2> -->
    <form [formGroup]="loginForm" (submit)="login()">
        <label>
            <p class="ff-poppins">Login</p>
                <input type="email" formControlName="email" placeholder="Informe o e-mail" />
        </label>
        <label>
            <p class="ff-poppins">Senha</p>
                <input type="password" formControlName="password" placeholder="Informe a senha" />
        </label>
        <button class="botao">Entrar</button>
    </form>
</section>
<app-mensagem *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched" mensagem="E-mail é obrigarório"></app-mensagem>
<app-mensagem *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" mensagem="E-mail informado é inválido"></app-mensagem>
<app-mensagem *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched" mensagem="Senha é obrigarória"></app-mensagem>